.font-grey {
  color: grey;
}

.mouse-pointer {
  cursor: pointer;
}

.round-right-corners-prepend{
  border-radius: 0px 25px 25px 0px;
  border-left: none;
}

.round-left-corners-prepend{
  border-radius: 25px 0px 0px 25px;
  border-right: none;
}


.MuiIconButton-root:hover {
  background-color: rgba(0,0,0,0) !important;
}